
@font-face {
    font-family:'Gothamb';
    src: url('GothamRounded-Bold.otf') format('opentype');
    
}

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Gothamb';
    font-weight: normal;
}
a:focus,a:visited,a:active{
    outline: none;
  }
  
body{
    overflow: hidden;
    background: #1f2023;
    height: 100vh;
    padding: 0;
    margin: 0;
    /*background: linear-gradient(to bottom right, Red, #e5dddd);*/
}
.Calculadora-fundo{
    font-family: 'Gothamb';
    margin-top: 90px;
    width: 100vw;
    /*height: 100vh;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*height: 90vh;
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 14px;*/
}
.Calculadora-grid{
    background: #2f3133;
    border: 20px #2f3133 solid;
    border-radius: 13px;
    box-shadow: 4px 10px 10px 0px #19181a;
    display: grid;
    justify-content: center;
    align-content: center;
    /* min-height: 100vh; */
    grid-template-columns: repeat(4,75px);
    grid-template-rows: minmax(95px,auto) repeat(5,75px);
}
#igual{
    background:#c02a57;
    color: #3c3f43;
}

#operation{
    background: #5e6267;
    color: #c02a57;
}
#operation.clicked{
    pointer-events:inherit;
  }
#operation:hover{
    background-color: rgb(31 32 35);
}
.Calculadora-grid > button{
    -webkit-tap-highlight-color: transparent;
    color: #d7d7d7;
    margin: 7px;
    border-radius: 9px;
    box-shadow: 4px 10px 10px 0px #28272899;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    outline:none;
    background-color: #3c3f43
}
.Calculadora-grid > button:hover{
    color:#3c3f43;
    background-color: rgb(31 32 35);
    box-shadow: inset 0px 0px 5px 0px #161616;
}
.span-two{
    grid-column:span 2 ;
}
.output{
    grid-column: 1/-1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output > .previous-operand{
    font-family: 'Gothamb';
    color: #bbbbbb;
    font-size: 1rem;
}
.output .current-operand{
    font-family: 'Gothamb';
    color: #d7d7d7;
    font-size: 1.5rem;
}
